.footer {
  background-color: var(--background-light);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1 4 1;
  flex-basis: auto;
}

.contacts__phone a {
  color: inherit;
}

.adress {
  font: inherit;
  margin-right: 337px;
}
