.form {
  background-color: var(--background-dark);
  width: 1330px;
  margin-left: 70px;

  display: flex;
}

// request

.request {
  display: flex;
  flex-direction: column;
  width: 508px;

  margin-left: 180px;
  margin-right: 20px;

  padding-top: 50px;
}

.request-title {
  color: var(--basic-white);

  margin-bottom: 20px;
}

.request__description,
.request__name,
.request__tel {
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-white);
  opacity: 0.6;
}

.request__description {
  padding-bottom: 44px;
}

.request__name {
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(0.11deg);

  margin-bottom: 33px;
  padding-bottom: 6px;
}

.request__tel {
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(0.11deg);

  margin-bottom: 35px;
  padding-bottom: 5px;
}


.request__name::placeholder,
.request__tel::placeholder {
  color: inherit;
  font-size: inherit;
}

.request__name:hover,
.request__tel:hover {
  outline: 2px solid var(--background-light);
}

.request__name:focus-within,
.request__tel:focus-within {
  box-shadow: 0px 0.2em 2.5em #c4c4c4;
  transform: scale(1.025);
  color: var(--basic-white);
  opacity: 0.6;
}

.request-button {
  color: var(--fonts);
  background-color: var(--button);
  margin-right: 200px;
  padding: 22px 38px 22px 38px;
}

.request-button:hover {
  background-color: var(--background-light);;
}

.map {
  display: block;
}
