.intro {
  margin-left: 180px;
  margin-right: 180px;

  display: block;
}

.intro a {
  list-style: none;
  color: var(--fonts);
}

.intro__slogan {
  font-size: 50px;
  line-height: 62px;

  padding-bottom: 24px;
}

.intro__text {
  margin-bottom: 21px;

}

.intro-button {
  background-color: var(--link-request);

  padding: 25px 65.88px 24px 67.91px;
}
