.main-nav {
  font-size: 16px;
  line-height: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: auto;
  flex-grow: 1;

  padding-left: 88px;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: auto;
  flex-grow: 1;  
}

.main-nav__list a,
.site-contact a {
  color: var(--fonts);
}

.main-nav__list a:hover,
.site-contact a:hover {
  outline: 2px solid #533738;
  outline-offset: -2px;

  color: var(-background-darker);
  opacity: 0.5;
}

.main-nav__list a:focus,
.site-contact a:focus {
  color: var(-background-dark);
  opacity: 0.7;
}

.main-nav__list a:active,
.site-contact a:active {
  color: var(--background-dark);
  opacity: 0.4;
}

.site-contact {
  padding-left: 35px;
}
