

.main-nav {
  font-size: 16px;
  line-height: 20px;

  outline: 2px solid rgb(71, 255, 117);
  outline-offset: -2px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    flex-basis: auto;
  flex-grow: 1;

}

.main-nav__list {
  outline: 2px solid rgb(255, 71, 255);
  outline-offset: -2px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: auto;
  flex-grow: 1;

}


.main-nav__list a,
.site-contact a {
  color: var(--fonts);
}

.main-nav__list a:hover,
.main-nav__list a:focus,
.site-contact a:hover,
.site-contact a:focus {
  background-color: var(--background-light);
}


