/* Variables */

:root {
  --background-light: #EFE6E4;
  --background-darker:#E2C4BA;
  --background-dark: #8D7370;
  --fonts: #533738;
  --fonts-statistic: #FFFFFF;
  --link-request: #CC8B86;
  --number-work: #8D7370;
  --button-reguest: #CC8B86;  
}
